<ion-view title="Login" hide-nav-bar='true'>

  <ion-content class="padding">

    <div class='loginPage'>
      <h1 class='appName'>twittup</h1>
<!--       <img class='logo' src='img/splash_logo.gif'>
 -->      <button class="loginButton button button-outline button-calm" ng-click='doLogin()'>
        Login With Twitter
      </button>

      <p class='hrBanner'>Proudly built @HackReactor</p>

    </div>
    
  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-clear">Left</button>
    <div class="title">Title</div>
    <button class="button button-clear">Right</button>
  </div>

</ion-view>
