<ion-view title="{{match.name}}" hide-back-button="false">
  <ion-content class="avatarList has-header">

    <div class="list card">

      <div id='thumb' class="item item-avatar">
        <img id='matchPhoto' ng-src="{{match.profile_image_url}}">
        <h2 id='thumbRight'>{{match.name}}</h2>
        <p id='thumbRight'>@{{match.screen_name}}</p>
        <h4 id='thumbRight'>{{match.distance}} mi away</h4>
      </div>

      <div class="item item-body">

        <div ng-show='match.common_friends'>
          <p>You both follow:</p>
          <div class='commonFriends' ng-repeat='friend in match.common_friends'>
            <button class="button button-calm">
              @{{friend}}
            </button>
          </div>
        </div>

        <div ng-show='match.common_words'>
          <p>You both tweet about:</p>
          <div class='commonFriends' ng-repeat='word in match.common_words'>
            <button class="button button-balanced">
              {{word}}
            </button>
          </div>
        </div>

      </div>
    </div>

  </ion-content>

  <button class="bottomButton button button-balanced" ng-click='openConnect()'>
    <i class='ion-paper-airplane'></i> Connect
  </button>

  <div class='opaque' ng-show='connectBox'></div>

  <div class='connect' ng-show='connectBox'>

    <p>Send a message to your new friend!</p>
    <input class='connectInput' type='text' placeholder='...' ng-model='newMessageText'>
    <span id='leftHalf' class="bar bar-footer bar-assertive" ng-click='closeConnect()'>
      <div class="title">Cancel</div>
    </span>
    <span id='rightHalf' class="bar bar-footer bar-calm" ng-click='sendMessage(newMessageText)'>
      <div class="title">Send</div>
    </span>
  
  </div>
  
</ion-view>
