/* Empty. Add your own CSS if you like */
body
{
  font-family: Montserrat, sans-serif;
}
#loading
{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.5;
  filter:alpha(opacity=50);
}
.bottomButton
{
  position: fixed;
  width: 96%;
  bottom: 2%;
  left: 2%;
}
.commonFriends{
  display: inline-block;
}
.commonFriends > button
{ 
  /*display: inline-block;*/
  text-align: left;
  margin: 2px;
  line-height: 24px;
  
  min-height: 0px;
  min-width: 0px;
  /*max-width: 75%;*/

  padding: 5px;
  border-radius: 5px;
}
/*#thumb
{
  width: 100%;
  display: inline-block;
}
.thumbLeft
{
  width: 30%;
}
*/
#thumb
{
  min-height: 110px;
}
#matchPhoto
{
  max-width: 80px;
  max-height: 80px;
}
#thumbRight
{
  margin-left: 40px;
}
.connect
{
  position: fixed;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 5px;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.connectInput
{
  width: 96%;
  left: 2%;

  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.opaque
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}

#leftHalf
{
  width: 50%;
}

#rightHalf
{
  width: 50%;
  left: 50%;
}

.message
{
  /*position: relative;*/
  /*position: ;*/
  margin: 1% 0 1% 0;
  width: 100%;
  /*top: 200px;*/
}
.messageIn, .messageOut
{
  position: relative;
  width: 100%;
}
.messageIn{
  text-align: left;
}
.messageOut{
  text-align: right;
}
.messageInButton, .messageOutButton
{ 
  display: inline-block;
  text-align: left;
  margin: 2px;
  line-height: 24px;
  
  min-height: 0px;
  min-width: 0px;
  max-width: 75%;

  padding: 5px;
  border-radius: 5px;
}
#conversation
{
  height: 75%;
}
.newMessageInput
{ 
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0;
  bottom: 0;
}