/* Empty. Add your own CSS if you like */
.commonFriends
{
  display: inline-block;
}

.messageIn
{
  text-align: left;
}
.messageIn p
{
  color: red;
}
.messageOut
{
  text-align: right;
}
.messageOut p
{
  color: blue;
}
